.blue {
    color: green;
}
.italic {
    font-style: italic;
    font-size: 12px;
}
.form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 80%;
    /* To see the outline of the form */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
.div {
    margin-top: 1em;
}
.label {
    /* To make sure that all label have the same size and are properly align */
    display: inline-block;
    width: 20%;
    text-align: right;
}
.input, .textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;

    /* To give the same size to all text field */
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
    padding : 0 10px;
    margin: 0;
    background: none;
}
.input:focus, .textarea:focus {
    /* To give a little highlight on active elements */
    border-color: #000;
    outline: none;
    background : rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.textarea {
    /* To properly align multiline text fields with their labels */
    vertical-align: top;

    /* To give enough room to type some text */
    height: 5em;

    /* To allow users to resize any textarea vertically
       It does not work on every browsers */
    resize: none;
    overflow: auto;
    
}
.button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}